
.material-touchspin {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

md-input-container.material-touchspin > input {
  display: block;
  width: unset;
  float: left;
  margin-top: 3px;
}

.material-touchspin .md-button {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  padding: 0;
  display: block;
  float: left;
}

.material-touchspin .md-button md-icon {
  margin-bottom: 9px;
}
button.md-button svg.svg-inline--fa {
  margin-bottom: 3px !important;
}

.material-touchspin .material-touchspin-up {
  border-radius: 0;
}

.material-touchspin .material-touchspin-down {
  border-radius: 0;
}
