<!DOCTYPE html>
<html>
<head>
    <title>ram.touchSpin - Demo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>
    <script src="../src/js/ramTouchSpin.js"></script>
    <link rel="stylesheet" href="../src/css/ramTouchSpin.css">
</head>
<body>
    <div id="example" ng-app="test" ng-controller="TestController">
    
        <h1>ram.touchSpin - Demo</h1>

		<div class="col-xs-6">
		
			<h2>Simple example with Material icons</h2>
			<ram-touch-spin type="number" ng-model="model.value"></ram-touch-spin>
			<span>model.value: {{model.value}}</span>
			
			<h2>Simple example with FontAwesome icons</h2>
			<ram-touch-spin type="number" ng-model="model.value" use-fa-icons="true"></ram-touch-spin>
			<span>model.value: {{model.value}}</span>
			
			<h2>Custom decimal separator</h2>
			<p>Value directly on scope with custom decimal separator (# symbol).</p>
			<ram-touch-spin type="text" ng-model="model.value" decimal-sep="#" step="0.1" decimals="2"></ram-touch-spin>
			<span>model.value: {{model.value}}</span><br>
			<span ng-if="modelValueType==='number'">Type is number</span>
			<span ng-if="modelValueType==='string'">Type is string</span>
			
			
			<h2>Validation</h2>
			<p>This examples shows validation. If the input is not correct (with respect to the used decimal separator) the input well be invalid.</p>
			<form name="demoForm" novalidate>		
				<input name="testInputDirective" type="text" ng-model="model.value" vertical="false" decimal-sep="." ram-touch-spin>
				<br>
				<span class="error" style="color:red;" ng-show="demoForm.testInputDirective.$invalid">invalid input!</span>
				<span ng-hide="demoForm.testInputDirective.$invalid">the input is valid</span>
			</form>	
			
			<h2>Min and Max</h2>
			<p>Example with min: 5 and max: 20. The value is also marked as invalid if it is out of bounds</p>
			<form name="demoFormMinMax" novalidate>		
				<input name="minMaxInput" type="text" ng-model="model.minMaxValue" min="5" max="20" ram-touch-spin>
				<br>
				<span class="error" style="color:red;" ng-show="demoFormMinMax.minMaxInput.$invalid">invalid input!</span>
				<span ng-hide="demoFormMinMax.minMaxInput.$invalid">the input is valid</span>
			</form>	
			
			
			<span>model.minMaxValue: {{model.minMaxValue}}</span>
			
			<br/>
			<p>Code</p>
			<pre><span ng-bind="minMaxExample"></span></pre>
			
			
			
		
		</div>
		
		<div class="col-xs-6">
			<h2>Init</h2>
			<input type="text" ng-model="model.newValue" initval="14" ram-touch-spin>
			<span>model.newValue: {{model.newValue}}</span>
			
			<h2>Nullable</h2>
			<p>If the nullable attribute is set to true empty string will set the model value to null. Otherwise it will be set to zero.</p>
			<input type="text" ng-model="model.nullableValue" nullable="true" ram-touch-spin>
			<span ng-show="model.nullableValue==null">the value is null</span>
			<span ng-show="model.nullableValue!=null">the value is not null</span>
			<p>Code</p>
			<pre><span ng-bind="nullableExample"></span></pre>
			
			<h2>Value directly on scope</h2>
			<input type="text" ng-model="directValue"ram-touch-spin>
			<span>directValue: {{directValue}}</span>
			
			<h2>Disable/Enable</h2>
			<input type="checkbox" ng-model="enabled"><span>enabled: {{enabled}}</span>
			<input type="text" ng-model="directValue"ram-touch-spin ng-disabled="!enabled">
			
			<br/>
			<p>Code:</p>
			<pre><span ng-bind="disableExample1"></span></pre>
			
			<br/>
			<input type="text" vertical="false" ng-model="directValue"ram-touch-spin ng-disabled="!enabled">
			<span>directValue: {{directValue}}</span>
			
			<br/>
			<p>Code:</p>
			<pre><span ng-bind="disableExample2"></span></pre>			

		</div>
	
    </div>
	<script>
      
    angular.module("test", ["ram.touchspin", "ngMaterial"]).controller("TestController", function($scope){
			$scope.model = {
                value : 2,
				minMaxValue : 5,
				nullableValue : null
            };
			
			$scope.directValue = 12;
			
				$scope.directValue = 12;
			
			$scope.modelValueType = typeof $scope.model.value;
			$scope.$watch('value', function(newValue, oldValue){
				$scope.modelValueType = typeof $scope.model.value;
			});
			
			$scope.minMaxExample = '<input type="text" ng-model="model.minMaxValue" min="-10" max="20" ram-touch-spin>';
			//$scope.initExample = '<input type="text" ng-model="model.newValue" initval="14" ram-touch-spin>';
			$scope.nullableExample = '<input type="text" ng-model="model.nullableValue" nullable="true" ram-touch-spin>';
			$scope.disableExample1 = '<input type="text" ng-model="directValue"ram-touch-spin ng-disabled="!enabled">';
			$scope.disableExample2 = '<input type="text" vertical="false" ng-model="directValue"ram-touch-spin ng-disabled="!enabled">';
			
			$scope.enabled = false
			
        })
       
	</script>
</body>
</html>