<!DOCTYPE html>
<html>
<head>
    <title>ram.touchSpin - Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="../src/js/ramTouchSpin.js"></script>
    <link rel="stylesheet" href="../src/css/ramTouchSpin.css"">
</head>
<body>
    <div id="example" ng-app="test" ng-controller="TestController">
    
        <h1>ram.touchSpin - Demo</h1>

		
        <h2>Simple example</h2>
        <input type="text" ng-model="model.value" vertical="true" ram-touch-spin>
        <span>model.value: {{model.value}}</span>
        
		
        <h2>Custom decimal separator</h2>
        <p>Value directly on scope with custom decimal separator (# symbol).</p>
        <input type="text" ng-model="model.value" vertical="false" decimal-sep="#" ram-touch-spin step="0.1" decimals="2">
        <span>model.value: {{model.value}}</span><br>
		<span ng-if="modelValueType==='number'">Type is number</span>
		<span ng-if="modelValueType==='string'">Type is string</span>
		
		
		<h2>Validation</h2>
		<p>This examples shows validation. If the input is not correct (with respect to the used decimal separator) the input well be invalid.</p>
		<form name="demoForm" novalidate>		
			<input name="testInputDirective" type="text" ng-model="model.value" vertical="false" decimal-sep="." ram-touch-spin>
			<br>
			<span class="error" style="color:red;" ng-show="demoForm.testInputDirective.$invalid">invalid input!</span>
			<span  ng-hide="demoForm.testInputDirective.$invalid">the input is valid</span>
		</form>	
        
        <h2>Min and Max</h2>
        <input type="text" ng-model="model.minMaxValue" min="0" max="20" ram-touch-spin>
        <span>model.minMaxValue: {{model.minMaxValue}}</span>
		
		
		<h2>Init</h2>
        <input type="text" ng-model="model.newValue" initval="14" ram-touch-spin>
        <span>model.newValue: {{model.newValue}}</span>
        

        <h2>Nullable</h2>
		<p>If the nullable attribute is set to true empty string will set the model value to null. Otherwise it will be set to zero.</p>
		<pre><span ng-bind="nullableExample"></span></pre>
        <input type="text" ng-model="model.nullableValue" nullable="true" ram-touch-spin>
        <span>model.nullableValue: {{model.nullableValue}}</span><br/>
        <span ng-show="model.nullableValue==null">the value is null</span>
        <span ng-show="model.nullableValue!=null">the value is not null</span>
		
		<h2>Value directly on scope</h2>
        <input type="text" ng-model="directValue"ram-touch-spin>
        <span>directValue: {{directValue}}</span>
		
	
    </div>
	<script>
      
    angular.module("test", ["ram.touchspin"]).controller("TestController", function($scope){
			$scope.model = {
                value : 2,
				minMaxValue : 3,
				nullableValue : null
            };
			
			$scope.directValue = 12;
			
			$scope.modelValueType = typeof $scope.model.value;
			$scope.$watch('value', function(newValue, oldValue){
				$scope.modelValueType = typeof $scope.model.value;
			});
			
			//$scope.initExample = '<input type="text" ng-model="model.newValue" initval="14" ram-touch-spin>';
			$scope.nullableExample = '<input type="text" ng-model="model.nullableValue" nullable="true" ram-touch-spin>';
			
        })
       
	</script>
</body>
</html>